/*
    login.html css
*/

.loginbox {
    text-align: center;

    width: 450px;
    margin: auto;
    border: 10px;
    background-color: rgb(240, 245, 249);
    box-shadow: 0 0 10px 0.1px;
}

.logged {
    margin: 20px 0px;
}

.login {
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 35px;
}

/*
    notevote.html css
*/

.inputbox {
    width: 15%;
}